<div class="container">

  <header class="mat-typography">
    <div class="logo">
      <img src="/assets/logo.png" alt="" class="img-fluid" />
    </div>
    <div class="general-information">
      <h1>Analytics Capability Formulator</h1>
      <p>
        This is a simple tool tool help you to formulate analytics capabilities and submit them
        to the <a href="https://github.com/uni-stuttgart-wi1/analytics-capabilities-collection" target="_blank">analytics capabilities repository</a>
        created by the Department of Information Systems I of the University of Stuttgart.
      </p>
    </div>
  </header>

  <div id="main">

    <app-formulate></app-formulate>


    <div id="cap-list" *ngIf="capabilities.length > 0">
      <h3>My Capabilities</h3>
      <mat-nav-list *ngFor="let capability of capabilities">
        <mat-list-item>
          <span matLine>{{ capability.formulation }}</span>
          <button mat-icon-button color="warn" (click)="remove(capability)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </div>

  </div>

  <footer class="mat-typography">
    <p>Copyright {{ year }}, Department of Information Systems I, University of Stuttgart</p>
  </footer>
</div>
