<div class="container">

  <header class="mat-typography">
    <div class="logo">
      <img src="/assets/logo.png" alt="" class="img-fluid" />
    </div>
    <div class="general-information">
      <h1>Analytics Capability Formulator</h1>
      <p>
        This is a simple tool tool help you to formulate analytics capabilities and submit them
        to the <a href="https://github.com/uni-stuttgart-wi1/analytics-capabilities-collection" target="_blank">analytics capabilities repository</a>
        created by the Department of Information Systems I of the University of Stuttgart.
      </p>
      <div *ngIf="capabilities.length > 0">
        <a [href]="mailStringSafe" mat-raised-button color="primary" target="_blank">Submit my capability list</a>
      </div>
    </div>
  </header>

  <div id="main">

    <app-formulate></app-formulate>

    <mat-card  id="cap-list" *ngIf="capabilities.length > 0" class="mat-typography">
      <mat-card-header>
        <h3 class="mat-line">My Capabilities</h3>
      </mat-card-header>
      <mat-card-content>
        <app-capability *ngFor="let capability of capabilities" [capability]="capability"></app-capability>
      </mat-card-content>
    </mat-card>

  </div>

  <footer class="mat-typography">
    <p>Copyright {{ year }}, Department of Information Systems I, University of Stuttgart</p>
  </footer>
</div>
