<mat-card class="result">
  <mat-card-content>
    <div class="formulater">
      We need to
      <mat-form-field>
        <input matInput placeholder="action" [(ngModel)]="action">
      </mat-form-field>
      to get insights with
      <mat-form-field>
        <input matInput placeholder="expected outcome" [(ngModel)]="expectedOutcome">
      </mat-form-field>
      in order to support
      <mat-form-field>
        <input matInput placeholder="business task" [(ngModel)]="businessTask">
      </mat-form-field>
      <br />in an environment with
      <mat-form-field>
        <input matInput placeholder="restrictions of the solution space" [(ngModel)]="environmentRestriction">
      </mat-form-field>
    </div>

    <mat-selection-list #selectedProducts [(ngModel)]="selectedOptions" dense="true">
      <p>Products that your organizatio use (or plan to use) to implement this capability.</p>
      <mat-list-option *ngFor="let product of products" [value]="product">
        {{ product }}
      </mat-list-option>
    </mat-selection-list>

    <button mat-raised-button color="primary" (click)="add()">Add capability</button>
  </mat-card-content>
</mat-card>
